[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
django-cors-headers = "==3.13.0"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
